docs/Documentazione Sistema di Interscambio/Servizio SDICoop/SdIQuadraturaWSFlussoRicezioneReinoltro_v1.0a.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:types="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types"
	xmlns:tns="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0">

	<!-- TIPI -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types" schemaLocation="QuadraturaWSTypes_v1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI -->
	
	<!-- RICHIESTA REINOLTRO -->
	<wsdl:message name="richiestaReinoltroFlussoRicezioneFileFatturaInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReinoltroFlussoRicezioneFileFatturaRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReinoltroFlussoRicezioneFileFatturaOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReinoltroFlussoRicezioneFileFatturaResponse" />
	</wsdl:message>
	<wsdl:message name="richiestaReinoltroFlussoRicezioneNotificaInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReinoltroFlussoRicezioneNotificaRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReinoltroFlussoRicezioneNotificaOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReinoltroFlussoRicezioneNotificaResponse" />
	</wsdl:message>
	
	<!-- RICHIESTA REPORT REINOLTRO -->
	<wsdl:message name="scaricoReportReinoltroFlussoRicezioneInput">
		<wsdl:part name="parametersIn" element="types:ScaricoReportReinoltroFlussoRicezioneRequest" />
	</wsdl:message>
	<wsdl:message name="scaricoReportReinoltroFlussoRicezioneOutput">
		<wsdl:part name="parametersOut" element="types:ScaricoReportReinoltroFlussoRicezioneResponse" />
	</wsdl:message>
	
	<!-- PORT TYPE -->
	<wsdl:portType name="SdIReinoltroFlussoRicezione">
		<wsdl:operation name="richiestaReinoltroFlussoRicezioneFileFattura">
			<wsdl:input message="tns:richiestaReinoltroFlussoRicezioneFileFatturaInput" />
			<wsdl:output message="tns:richiestaReinoltroFlussoRicezioneFileFatturaOutput" />
		</wsdl:operation>
		<wsdl:operation name="richiestaReinoltroFlussoRicezioneNotifica">
			<wsdl:input message="tns:richiestaReinoltroFlussoRicezioneNotificaInput" />
			<wsdl:output message="tns:richiestaReinoltroFlussoRicezioneNotificaOutput" />
		</wsdl:operation>	
		<wsdl:operation name="scaricoReportReinoltroFlussoRicezione">
			<wsdl:input message="tns:scaricoReportReinoltroFlussoRicezioneInput" />
			<wsdl:output message="tns:scaricoReportReinoltroFlussoRicezioneOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- PORT BINDING -->
	<wsdl:binding name="SdIReinoltroFlussoRicezione_binding" type="tns:SdIReinoltroFlussoRicezione">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="richiestaReinoltroFlussoRicezioneFileFattura">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReinoltroFlussoRicezioneFileFattura" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="richiestaReinoltroFlussoRicezioneNotifica">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReinoltroFlussoRicezioneNotifica" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="scaricoReportReinoltroFlussoRicezione">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReportReinoltroFlussoRicezione" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- SERVICE -->
	<wsdl:service name="SdIReinoltroFlussoRicezione_service">
		<wsdl:port name="SdIReinoltroFlussoRicezione_port" binding="tns:SdIReinoltroFlussoRicezione_binding">
      		<soapbind:address location="https://servizi.fatturapa.it/reinoltro-flusso-ricezione"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
