docs/Documentazione Sistema di Interscambio/Servizio SDICoop/SdIQuadraturaWSFlussoTrasmissioneReport_v1.0a.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:types="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types"
	xmlns:tns="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0">

	<!-- TIPI -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types" schemaLocation="QuadraturaWSTypes_v1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI -->
	
	<!-- RICHIESTA QUADRATURA -->
	<wsdl:message name="richiestaReportQuadraturaFlussoTrasmissioneB2BInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReportQuadraturaFlussoTrasmissioneB2BRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReportQuadraturaFlussoTrasmissioneB2BOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReportQuadraturaFlussoTrasmissioneB2BResponse" />
	</wsdl:message>
	<wsdl:message name="richiestaReportQuadraturaFlussoTrasmissioneB2GInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReportQuadraturaFlussoTrasmissioneB2GRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReportQuadraturaFlussoTrasmissioneB2GOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReportQuadraturaFlussoTrasmissioneB2GResponse" />
	</wsdl:message>
	
	
	<!-- RICHIESTA REPORT QUADRATURA -->
	<wsdl:message name="scaricoReportQuadraturaFlussoTrasmissioneInput">
		<wsdl:part name="parametersIn" element="types:ScaricoReportQuadraturaFlussoTrasmissioneRequest" />
	</wsdl:message>
	<wsdl:message name="scaricoReportQuadraturaFlussoTrasmissioneOutput">
		<wsdl:part name="parametersOut" element="types:ScaricoReportQuadraturaFlussoTrasmissioneResponse" />
	</wsdl:message>
	
	<!-- PORT TYPE -->
	<wsdl:portType name="SdIQuadraturaFlussoTrasmissione">
		<wsdl:operation name="richiestaReportQuadraturaFlussoTrasmissioneB2G">
			<wsdl:input message="tns:richiestaReportQuadraturaFlussoTrasmissioneB2GInput" />
			<wsdl:output message="tns:richiestaReportQuadraturaFlussoTrasmissioneB2GOutput" />
		</wsdl:operation>
		<wsdl:operation name="richiestaReportQuadraturaFlussoTrasmissioneB2B">
			<wsdl:input message="tns:richiestaReportQuadraturaFlussoTrasmissioneB2BInput" />
			<wsdl:output message="tns:richiestaReportQuadraturaFlussoTrasmissioneB2BOutput" />
		</wsdl:operation>
		<wsdl:operation name="scaricoReportQuadraturaFlussoTrasmissione">
			<wsdl:input message="tns:scaricoReportQuadraturaFlussoTrasmissioneInput" />
			<wsdl:output message="tns:scaricoReportQuadraturaFlussoTrasmissioneOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- PORT BINDING -->
	<wsdl:binding name="SdIQuadraturaFlussoTrasmissione_binding" type="tns:SdIQuadraturaFlussoTrasmissione">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="richiestaReportQuadraturaFlussoTrasmissioneB2G">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/QuadraturaFlussoTrasmissioneB2G" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="richiestaReportQuadraturaFlussoTrasmissioneB2B">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/QuadraturaFlussoTrasmissioneB2B" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="scaricoReportQuadraturaFlussoTrasmissione">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReportQuadraturaFlussoTrasmissione" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- SERVICE -->
	<wsdl:service name="SdIQuadraturaFlussoTrasmissione_service">
		<wsdl:port name="SdIQuadraturaFlussoTrasmissione_port" binding="tns:SdIQuadraturaFlussoTrasmissione_binding">
      		<soapbind:address location="https://servizi.fatturapa.it/quadratura-flusso-trasmissione"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
