docs/Documentazione Sistema di Interscambio/Servizio SDICoop/SdIQuadraturaWSFlussoTrasmissioneReinoltro_v1.0a.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:types="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types"
	xmlns:tns="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0">

	<!-- TIPI -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types" schemaLocation="QuadraturaWSTypes_v1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI -->
	
	<!-- RICHIESTA REINOLTRO -->
	<wsdl:message name="richiestaReinoltroFlussoTrasmissioneInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReinoltroFlussoTrasmissioneRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReinoltroFlussoTrasmissioneOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReinoltroFlussoTrasmissioneResponse" />
	</wsdl:message>
	
	<!-- RICHIESTA REPORT REINOLTRO -->
	<wsdl:message name="scaricoReportReinoltroFlussoTrasmissioneInput">
		<wsdl:part name="parametersIn" element="types:ScaricoReportReinoltroFlussoTrasmissioneRequest" />
	</wsdl:message>
	<wsdl:message name="scaricoReportReinoltroFlussoTrasmissioneOutput">
		<wsdl:part name="parametersOut" element="types:ScaricoReportReinoltroFlussoTrasmissioneResponse" />
	</wsdl:message>
	
	<!-- PORT TYPE -->
	<wsdl:portType name="SdIReinoltroFlussoTrasmissione">
		<wsdl:operation name="richiestaReinoltroFlussoTrasmissione">
			<wsdl:input message="tns:richiestaReinoltroFlussoTrasmissioneInput" />
			<wsdl:output message="tns:richiestaReinoltroFlussoTrasmissioneOutput" />
		</wsdl:operation>
		<wsdl:operation name="scaricoReportReinoltroFlussoTrasmissione">
			<wsdl:input message="tns:scaricoReportReinoltroFlussoTrasmissioneInput" />
			<wsdl:output message="tns:scaricoReportReinoltroFlussoTrasmissioneOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- PORT BINDING -->
	<wsdl:binding name="SdIReinoltroFlussoTrasmissione_binding" type="tns:SdIReinoltroFlussoTrasmissione">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="richiestaReinoltroFlussoTrasmissione">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReinoltroFlussoTrasmissione" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="scaricoReportReinoltroFlussoTrasmissione">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReportReinoltroFlussoTrasmissione" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- SERVICE -->
	<wsdl:service name="SdIReinoltroFlussoTrasmissione_service">
		<wsdl:port name="SdIReinoltroFlussoTrasmissione_port" binding="tns:SdIReinoltroFlussoTrasmissione_binding">
      		<soapbind:address location="https://servizi.fatturapa.it/reinoltro-flusso-trasmissione"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
