docs/Documentazione Sistema di Interscambio/Servizio SDICoop/SdIQuadraturaWSFlussoRicezioneReport_v1.0a.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:types="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types"
	xmlns:tns="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0">

	<!-- TIPI -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://ivaservizi.agenziaentrate.gov.it/docs/wsdl/QuadraturaWS/v1.0/types" schemaLocation="QuadraturaWSTypes_v1.0.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- MESSAGGI -->
	
	<!-- RICHIESTA QUADRATURA -->
	<wsdl:message name="richiestaReportQuadraturaFlussoRicezioneB2BInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReportQuadraturaFlussoRicezioneB2BRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReportQuadraturaFlussoRicezioneB2BOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReportQuadraturaFlussoRicezioneB2BResponse" />
	</wsdl:message>	
	
	<wsdl:message name="richiestaReportQuadraturaFlussoRicezioneB2GInput">
		<wsdl:part name="parametersIn" element="types:RichiestaReportQuadraturaFlussoRicezioneB2GRequest" />
	</wsdl:message>
	<wsdl:message name="richiestaReportQuadraturaFlussoRicezioneB2GOutput">
		<wsdl:part name="parametersOut" element="types:RichiestaReportQuadraturaFlussoRicezioneB2GResponse" />
	</wsdl:message>		
	
	<!-- RICHIESTA REPORT QUADRATURA -->
	<wsdl:message name="scaricoReportQuadraturaFlussoRicezioneInput">
		<wsdl:part name="parametersIn" element="types:ScaricoReportQuadraturaFlussoRicezioneRequest" />
	</wsdl:message>
	<wsdl:message name="scaricoReportQuadraturaFlussoRicezioneOutput">
		<wsdl:part name="parametersOut" element="types:ScaricoReportQuadraturaFlussoRicezioneResponse" />
	</wsdl:message>
	
	<!-- PORT TYPE -->
	<wsdl:portType name="SdIQuadraturaFlussoRicezione">
		<wsdl:operation name="richiestaReportQuadraturaFlussoRicezioneB2G">
			<wsdl:input message="tns:richiestaReportQuadraturaFlussoRicezioneB2GInput" />
			<wsdl:output message="tns:richiestaReportQuadraturaFlussoRicezioneB2GOutput" />
		</wsdl:operation>
		<wsdl:operation name="richiestaReportQuadraturaFlussoRicezioneB2B">
			<wsdl:input message="tns:richiestaReportQuadraturaFlussoRicezioneB2BInput" />
			<wsdl:output message="tns:richiestaReportQuadraturaFlussoRicezioneB2BOutput" />
		</wsdl:operation>
		<wsdl:operation name="scaricoReportQuadraturaFlussoRicezione">
			<wsdl:input message="tns:scaricoReportQuadraturaFlussoRicezioneInput" />
			<wsdl:output message="tns:scaricoReportQuadraturaFlussoRicezioneOutput" />
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- PORT BINDING -->
	<wsdl:binding name="SdIQuadraturaFlussoRicezione_binding" type="tns:SdIQuadraturaFlussoRicezione">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="richiestaReportQuadraturaFlussoRicezioneB2G">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/QuadraturaFlussoRicezioneB2G" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="richiestaReportQuadraturaFlussoRicezioneB2B">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/QuadraturaFlussoRicezioneB2B" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="scaricoReportQuadraturaFlussoRicezione">
			<soapbind:operation soapAction="http://www.fatturapa.it/SdIQuadraturaWS/ReportQuadraturaFlussoRicezione" />
			<wsdl:input>
				<soapbind:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soapbind:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- SERVICE -->
	<wsdl:service name="SdIQuadraturaFlussoRicezione_service">
		<wsdl:port name="SdIQuadraturaFlussoRicezione_port" binding="tns:SdIQuadraturaFlussoRicezione_binding">
      		<soapbind:address location="https://servizi.fatturapa.it/quadratura-flusso-ricezione"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
