docs/Documentazione tecnica/Corrispettivi elettronici/Provvedimento 28102016 trasmissione telematica corrispettivi_CorrispettiviTypes_v1.0.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/corrispettivi/dati/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/corrispettivi/dati/v1.0"
	version="1.0">

	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="./xmldsig-core-schema.xsd" />

	<!-- =================================================================== -->
	<!-- ELEMENTO PER TRASMISSIONE DATI CORRISPETTIVI						 -->
	<!-- =================================================================== -->	
	<xs:element name="DatiCorrispettivi" type="DatiCorrispettiviType">
		<xs:annotation>
			<xs:documentation>Dati dei corrispettivi 1.0</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- =================================================================== -->
	<!-- TIPI 										 						 -->
	<!-- =================================================================== -->
	<xs:complexType name="DatiCorrispettiviType">
		<xs:sequence>
			<xs:element name="Trasmissione" type="DatiTrasmissioneType" />
			<xs:element name="PeriodoInattivo" type="PeriodoInattivoType" minOccurs="0" />
			<xs:element name="DataOraRilevazione" type="xs:dateTime" />
			<xs:choice>
				<xs:element name="DatiRT" type="ElencoCorrispettiviType" />	
				<xs:element name="DatiDA" type="DatiDistributoriAutomaticiType" />
			</xs:choice>
			<xs:element name="InterventoTecnico" type="InterventoTecnicoType" minOccurs="0" maxOccurs="50" />
			<xs:element name="Segnalazione" type="SegnalazioneType" minOccurs="0" maxOccurs="50" />
			<xs:element ref="ds:Signature" />
		</xs:sequence>
		<xs:attribute name="versione" type="FormatoTrasmissioneType" use="required" />
	</xs:complexType>
	
	<xs:complexType name="DatiTrasmissioneType">
		<xs:annotation>
			<xs:documentation>Blocco con informazioni su tipo di trasmissione e soggetto trasmittente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Progressivo" type="Integer15Type" />
			<xs:element name="Formato" type="FormatoTrasmissioneType" />
			<xs:element name="Dispositivo" type="DispositivoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DispositivoType">
		<xs:sequence>
			<xs:element name="Tipo" type="TipoDispositivoType" />
			<xs:element name="IdDispositivo" type="IdDispositivoType" />
			<xs:element name="GeoLocalizzazione" type="GeoLocType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="TipoDispositivoType">
		<xs:restriction base="xs:string">
			<xs:length value="2" />
			<xs:enumeration value="DA">
				<xs:annotation>
					<xs:documentation>DA = Distributore Automatico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
			<xs:enumeration value="MC">
				<xs:annotation>
					<xs:documentation>MC = Multi cassa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="GeoLocType">
		<xs:sequence>
			<xs:element name="Lat" type="GeoType" />
			<xs:element name="Long" type="GeoType" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="GeoType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[\-]?[0-9]{1,3}\.[0-9]{2,9}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PeriodoInattivoType">
		<xs:annotation>
			<xs:documentation>Blocco con informazioni sui dati contabili e fiscali dei corrispettivi</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dal" type="xs:dateTime" />
			<xs:element name="Al" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElencoCorrispettiviType">
		<xs:sequence>
			<xs:element name="Riepilogo" type="DatiRegistratoriTelematiciType" maxOccurs="20" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DatiRegistratoriTelematiciType">
		<xs:sequence>
			<xs:element name="AliquotaIVA" type="RateType" />
			<xs:element name="Natura" type="NaturaType" minOccurs="0" />
			<xs:element name="Ammontare" type="Amount2DecimalType" />
			<xs:element name="Imposta" type="Amount2DecimalType" />
			<xs:element name="RifNormativo" type="String100LatinType" minOccurs="0" />
			<xs:element name="VentilazioneIVA" type="VentilazioneIVAType" minOccurs="0" />
			<xs:element name="TotaleAmmontareResi" type="Amount2DecimalType" minOccurs="0" />
			<xs:element name="TotaleAmmontareAnnulli" type="Amount2DecimalType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NaturaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N1">
				<xs:annotation>
					<xs:documentation>Escluse ex. art. 15</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N2">
				<xs:annotation>
					<xs:documentation>Non soggette</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N2a">
				<xs:annotation>
					<xs:documentation>Non soggette ex art. 2, comma 3, lett. a) del DPR 633/72</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N2b">
				<xs:annotation>
					<xs:documentation>Non soggette ex artt. da 7 a 7 septies del DPR 633/72</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N2c">
				<xs:annotation>
					<xs:documentation>Non soggette ex art. 74 DPR 633/72</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N3">
				<xs:annotation>
					<xs:documentation>Non imponibili</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N4">
				<xs:annotation>
					<xs:documentation>Esenti</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N5">
				<xs:annotation>
					<xs:documentation>Regime del margine</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N6">
				<xs:annotation>
					<xs:documentation>Inversione contabile (reverse charge)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="VentilazioneIVAType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SI">
				<xs:annotation>
					<xs:documentation>Indica l'eventuale applicazione della ventilazione dell'IVA sui corrispettivi (ex DM 3495 del 24/02/1973)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DatiDistributoriAutomaticiType">
		<xs:choice>
			<xs:element name="Periodo" type="PeriodoType" />
			<xs:element name="Cumulato" type="CumulatoType" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="PeriodoType">
		<xs:sequence>
			<xs:element name="Venduto" type="Amount2DecimalType" />
			<xs:element name="VendutoContante" type="Amount2DecimalType" />
			<xs:element name="VendutoNoContante" type="Amount2DecimalType" />
			<xs:element name="Incassato" type="Amount2DecimalType" />
			<xs:element name="IncassatoRicarica" type="Amount2DecimalType" />
			<xs:element name="IncassatoVendita" type="Amount2DecimalType" />
			<xs:element name="TotaleResoTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleCaricatoTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleResoManualeTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleCaricatoManualeTubiResto" type="Amount2DecimalType" />
			<xs:element name="DataOraPrelievoPrec" type="xs:dateTime" />
			<xs:element name="ProgressivoPrelievo" type="Integer15Type" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CumulatoType">
		<xs:sequence>
			<xs:element name="Venduto" type="Amount2DecimalType" />
			<xs:element name="VendutoContante" type="Amount2DecimalType" />
			<xs:element name="VendutoNoContante" type="Amount2DecimalType" />
			<xs:element name="Incassato" type="Amount2DecimalType" />
			<xs:element name="IncassatoRicarica" type="Amount2DecimalType" />
			<xs:element name="IncassatoVendita" type="Amount2DecimalType" />
			<xs:element name="TotaleResoTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleCaricatoTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleResoManualeTubiResto" type="Amount2DecimalType" />
			<xs:element name="TotaleCaricatoManualeTubiResto" type="Amount2DecimalType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InterventoTecnicoType">
		<xs:annotation>
			<xs:documentation>Blocco da valorizzare se si devono riportare informazioni relative ad intervento tecnico effettuato sul dispositivo</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CFTecnico" type="CodiceFiscaleType" />
			<xs:element name="IdIVALaboratorio" type="IdFiscaleType" />
			<xs:element name="DataOra" type="xs:dateTime" />
			<xs:element name="Codice" type="xs:normalizedString" />
			<xs:element name="Note" type="String1000LatinType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CodiceFiscaleType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{11,16}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="IdFiscaleType">
		<xs:sequence>
			<xs:element name="IdPaese" type="NazioneType" />
			<xs:element name="IdCodice" type="IdCodiceType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="NazioneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdCodiceType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="28" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SegnalazioneType">
		<xs:annotation>
			<xs:documentation>Blocco da valorizzare in caso di segnalazioni al Sistema AE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Matricola" type="xs:normalizedString" />
			<xs:element name="DataOra" type="xs:dateTime" />
			<xs:element name="Codice" type="xs:normalizedString" />
			<xs:element name="Note" type="String1000LatinType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="FormatoTrasmissioneType">
		<xs:restriction base="xs:string">
			<xs:length value="5" />
			<xs:enumeration value="COR10">
				<xs:annotation>
					<xs:documentation>Formato di Trasmissione Dati Corrispettivi Versione 1.0</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- STRINGHE -->
	<xs:simpleType name="String100LatinType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,100}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdDispositivoType">
		<xs:restriction base="xs:normalizedString">
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String1000LatinType">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,1000}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- NUMERI -->  
	<xs:simpleType name="Integer15Type">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="999999999999999" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Amount2DecimalType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="[\-]?[0-9]{1,11}\.[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="RateType">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="100.00" />
			<xs:pattern value="[0-9]{1,3}\.[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>